/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

.icon-block {
  	padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}

a { color: inherit; }

.victor-icon {
  width: 270px;
  height: 270px;
  background: url(../images/victor.jpg) no-repeat center center;
  background-size: cover;
  margin: 0 auto;
  border-radius: 135px;
  border: 5px solid #03a9f4;
}

html {
    overflow: hidden;
    height: 100%;
}

body {
    height: 100%;
    overflow: auto;
}

.row-spacer {
  row: inherit;
  height: 50px;
}
