/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

.icon-block {
  	padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}

a {
  color: inherit;
}

.dropdown-content li > a {
  color: #039be5;
}

.victor-icon {
  width: 240px;
  height: 240px;
  background: url(../images/victor.jpg) no-repeat center center;
  background-size: cover;
  margin: 0 auto;
  border-radius: 135px;
  border: 5px solid #03a9f4;
}

.row-spacer {
  row: inherit;
  height: 40px;
}

/* medium + screen sizes */
@media only screen and (min-width: 500px) {
    .desktop-only {
        display:block !important;
    }
    .mobile-only {
        display:none !important;
    }
}

/* small screen sizes */
@media only screen and (max-width: 499px) {
    .mobile-only {
        display:block;
    }

    .desktop-only {
        display:none !important;
    }
}
